~*
._*
.TemporaryItems
.DS_Store
Thumbs.db
/bin/
*.class
*.jar
*.war
*.ear
hs_error_pid*
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.mod
*.lai
*.la
*.a
*.dll
*.lib
*.exe
*.app
*.uuid
*.project
*.classpath
/.settings/
